<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Esqueci minha senha</title>
       
        <script src="https://kit.fontawesome.com/50d53b2eac.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="container-fluid">
            <div class="login">
                <div class="loginTop">
                    <div class="topText">
                        <img src="../../assets/ocean.png" />
                        <span id="pdvSpan">PDV</span>
                    </div>
                    
                </div>
                <div class="loginBottomRecup">
                    <div class="recupContent">
                        <div class="recupTop">
                            <a href="login" id="leftArr"><i  class="fa-solid fa-chevron-left fa-xl"></i></a>

                            <div class="recupTextTop">
                                <span id="forgotSpan">Esqueci minha senha</span>
                                <span id="idenSpan">Identifique-se e receba um e-mail com instruções para recuperar a senha</span>
                            </div>

                            
                        </div>
                        <div class="recupBottom">
                            <span class="loginSpan">Email</span><br>
                            <input id="email" type="text" name="email" [(ngModel)]="email" [style.border]="flag == true ? A:B" autocomplete="off" /> <br>
                            <input id="button" type="button" name="button" value="Redefinir senha" (click) = "error()"  />
                        </div>

                    </div>   
                </div>
            </div>
        </div>
    </body>
</html>

