

.recuperasenha{
    margin: auto;
    margin-top: 150px;
    width: 450px;
    min-height: 500px;
    background-color: #1A1A1A;
    border: 1px solid #323232;
    border-radius: 14px;
}

.recuperasenha span{
    display: block;
    color: #D8D8D8;
}

#recuperaTitle{
    font-size: 35px;
    font-weight: 700;
}

.formRecuperaSenha{
    margin-top: 50px;
    margin-left: 62px

}

.formInputs{
    margin-top: 50px;
}

.inputSpan{
    font-size: 14px;
    margin-top: 10px;
}



input{

    width: 600px;
    height: 42px;
    background-color: #262626;
    border: 1px solid #404040;
    text-indent: 10px;
    color: #a3a3a3;
    border-radius: 6px;
    caret-color: #a3a3a3;
    transition: .3s;
}

input:focus{
    border: 1px solid #810A0A;
}

::placeholder{
    color: #7D7D7D;
    font-size: 14px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-underline {
    display: none;
  }

::ng-deep .mat-form-field-underline {
    display: none;
}


button{
    width: 330px;
    height: 40px;
    background-color: #7D1515;
    border-radius: 6px;
    border: 0;
    color: #D8D8D8;
    margin-top: 20px;
    transition: .3s;
    font-size: 15px;;
    margin-bottom: 10%;

}

button:hover{
    background-color: #6d1212;
    color: #c9c9c9;
}

a {
    color: #9e1a1a;
    margin-bottom:1rem;
}

::ng-deep snack-bar-container {
    background: rgb(3, 3, 3) !important;
  }
  
::ng-deep .mat-button-wrapper {
    color: rgb(199, 41, 41) !important;
}