/* html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */

html,
body {
    min-height: 100%;
    background: #141414;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
}

::ng-deep snack-bar-container {
    background: rgb(3, 3, 3) !important;
  }
  
::ng-deep .mat-button-wrapper {
    color: rgb(199, 41, 41) !important;
}