      
<div class="dashboard-container">
  <form (ngSubmit)="applyFilters()" class="filter-form">
    <mat-form-field appearance="outline">
      <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="startPicker" [(ngModel)]="filter.startDate" name="startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End Date</mat-label>
      <input matInput [matDatepicker]="endPicker" [(ngModel)]="filter.endDate" name="endDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Beat</mat-label>
      <mat-select [(ngModel)]="filter.beat" name="beat">
        <mat-option *ngFor="let beat of beatsFilter" [value]="beat">{{ beat }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="filter-buttons">
      <button mat-raised-button color="primary" type="submit">Apply Filters</button>
      <button mat-raised-button (click)="clearFilters()" type="button">Clear Filters</button>
   </div>
  </form>
    
  <div class="chart-container">
    <h2>Vendas ao longo dos meses</h2>
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartClick)="onChartClick($event)">
    </canvas>
  </div>

  <div class="chart-container">
    <h2>Receita ao longo dos meses</h2>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>

  <div class="chart-container">
    <h2>Total de vendas por produto</h2>
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType">
    </canvas>
  </div>

        
<div class="chart-container">
  <h2>Total de instrumentais</h2>
  <div class="chart-overlay">
    <span class="big-number-display">{{beatCount}}</span></div>
</div>

<div class="chart-container">
  <h2>Média de Preços</h2>
  <canvas baseChart
          [data]="MediaPrecosPieChartData"
          [labels]="MediaPrecosPieChartLabels"
          [chartType]="MediaPrecosPieChartType"
          [colors]="MediaPrecosPieChartColors">
  </canvas>
</div>


    
</div>