<div class="catalog">

    <div class="beatsRight">
        <h1>Minhas Tracks</h1>
        <div class="beats">
            <div class="details">
                <span id="detTitle">TITULO</span>
                <span id="detTime">DURAÇÃO</span>
                <span id="detBPM">BPM</span>
                <span id="detTags">TAGS</span>
            </div>
            <div class="beatRow" *ngFor="let beat of beats">
                <span id="guid">{{beat.guidBeat + 1}}</span>
                <div class="beatImage">
                    <img src="../../../../../assets/uploads/{{beat.imagem}}" width="65" height="65" />
                    <span id="playCatalog"><i class="fa-regular fa-circle-play"></i></span>
                </div>
                
                <a (click)="getId(beat)" id="title">{{beat.titulo}}</a>

                <span class="rowDet" id="time">3:28</span>

                <span class="rowDet" id="bpm">{{beat.bpm}}</span>

                <span class="rowDet" id="tags"><span id="tag1">#lil peep</span><span id="tag2">#hip hop</span></span>


                <div class="beatIcons">
                    <a href=""><i class="fa-regular fa-share-nodes"></i></a>
                    <a href=""><i class="fa-regular fa-arrow-down-to-line"></i></a>
                </div>

                <span (click)="getIdEdit(beat)" id="buyButton"><i class="fa-regular fa-pen-to-square"></i>Editar</span>

            </div>
        </div>
    </div>
</div>