<div class="newBeat">
    <h1>Editar Perfil</h1>


    <form [formGroup]="form" enctype="multipart/form-data">
        <!--<span id="genTitle">Informações Gerais</span>-->
        <div class="profileForms">

            <div class="imageInput">
                <img *ngIf="user.imagem == null" id="profImage" src="../../../../../assets/images/default.png" />
                <img *ngIf="user.imagem != null" id="profImage" src="../../../../../assets/uploads/{{user.imagem}}" />
                <label for="profImg" id="lblImg">Selecionar Imagem</label>
                <input type="file" name="profImg" id="profImg" accept="image/*" (change)="changeImg($event)" />
            </div>

            <div class="formInputs">
                <div class="field">
                    <span class="inputSpan">Nome</span>
                    <mat-form-field class="searchInput" style="width: 420px; ">
                        <mat-label></mat-label>
                        <input matInput formControlName="nome" placeholder="Nome" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div class="field">
                    <span class="inputSpan">Sobrenome</span>
                    <mat-form-field class="searchInput" style="width: 420px; ">
                        <mat-label></mat-label>
                        <input matInput formControlName="sobrenome" placeholder="Sobrenome" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div class="field">
                    <span class="inputSpan">Data de Nascimento</span>
                    <mat-form-field class="searchInput" style="width: 420px; ">
                        <mat-label></mat-label>
                        <input matInput formControlName="dataNasc" placeholder="Data de Nascimento" autocomplete="off" />
                    </mat-form-field>
                </div>
                
                <div class="field">
                    <span class="inputSpan">Usuário</span>
                    <mat-form-field class="searchInput" style="width: 550px; ">
                        <mat-label></mat-label>
                        <input matInput formControlName="usuario" placeholder="Usuario" autocomplete="off" />
                    </mat-form-field>
                </div>

                <div class="field">
                    <span class="inputSpan">CPF</span>
                    <mat-form-field class="searchInput" style="width: 290px; ">
                        <mat-label></mat-label>
                        <input matInput mask="000.000.000-00"  formControlName="cpf" placeholder="CPF" autocomplete="off" />
                        <mat-error *ngIf="form.get('cpf').touched">
                            CPF inválido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="field">
                    <span class="inputSpan">Sobre mim</span>
                    <mat-form-field class="searchInput" style="width: 890px; ">
                        <mat-label></mat-label>
                        <textarea matInput formControlName="sobre" placeholder="Sobre mim" cols="35" rows="8"  autocomplete="off"></textarea>
                    </mat-form-field>
                </div>

            </div>

           
            <div class="publishBtns">
                <button id="cancelBtn" type="button" (click)="cancel()">Cancelar</button>
                <button id="saveBtn" type="button" (click)="save()">Salvar</button>
            </div>
            

        </div>

        

    

    </form>
</div>