<div class="homeAbout1">
  <div class="content">
    <div class="text">
      <span id="aboutTitle1">Licença Básica</span>
      <span id="aboutFurther1">Nesse pacote, você vai ter o MP3 e o WAV pra adicionar no seu som da forma que quiser, creditando o beatmaker.</span>
    </div>
    <!-- <img src="../../../assets/images/vinil.png" alt="Licença Básica"> -->
  </div>
</div>

<div class="homeAbout2">
  <div class="content">
    <div class="text">
      <span id="aboutTitle2">Licença Premium</span>
      <span id="aboutFurther2">Nesse pacote, você terá o MP3, o WAV e os STEMS. PORÉM a música não será só sua, você terá que creditar o beatmaker.</span>
    </div>
    <!-- <img src="../../../assets/images/vinil.png" alt="Licença Premium"> -->
  </div>
</div>

<div class="homeAbout1">
  <div class="content">
    <div class="text">
      <span id="aboutTitle1">Licença Ilimitada</span>
      <span id="aboutFurther1">Nesse pacote, o beat é só seu! Você terá o MP3, o WAV e os STEMS para editar da forma que quiser e se apossar do som!</span>
    </div>
    <!-- <img src="../../../assets/images/vinil.png" alt="Licença Ilimitada"> -->
  </div>
</div>