<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
       
        <script src="https://kit.fontawesome.com/50d53b2eac.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="container-fluid">
            <div class="login">

                <div class="formLogin">
                    <form [formGroup]="form">
                        <span id="loginTitle">Recuperar Senha</span>

                        <div class="formInputs">
                            <span class="inputSpan">E-mail de recuperação</span>
                            <mat-form-field class="searchInput" style="width: 330px; ">
                                <mat-label></mat-label>
                                <input matInput formControlName="email" name="email" placeholder="E-mail" autocomplete="off"/>
                            </mat-form-field> 
                        </div>

                    </form>

                    <div class="error" *ngIf="errorMessage == true">
                        <span id="loginError">Email não cadastrado.</span>
                    </div>
                    

                    <div class="success" *ngIf="successMessage == true">
                        <span id="loginSuccess">Um email com instruções foi enviado.</span>
                    </div>

                    <button (click)="recuperar()">Continuar</button>
                </div>
                        
            </div>

            <ngx-loading
                [show]="loading"
                [config]="{ backdropBorderRadius: '3px' }"
                [template]="customLoadingTemplate">
            </ngx-loading>
        </div>
    </body>
</html>
