<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
       
        <script src="https://kit.fontawesome.com/50d53b2eac.js" crossorigin="anonymous"></script>

    </head>

    <body>
        <div class="container-fluid">
            <div class="login">
                <div class="formLogin">
                    <form [formGroup]="form">
                        <span id="loginTitle">Fazer Login</span>

                        <div class="formInputs">
                            <span class="inputSpan">Nome de usuário</span>
                            <mat-form-field class="searchInput" style="width: 330px; ">
                                <mat-label></mat-label>
                                <input matInput formControlName="login" name="login" placeholder="Usuário" autocomplete="off"/>
                            </mat-form-field> 

                            <span class="inputSpan">Senha</span>
                            <mat-form-field class="searchInput" style="width: 330px; ">
                                <mat-label></mat-label>
                                <input type="password" matInput formControlName="senha" name="senha" placeholder="Senha" autocomplete="off"/>
                            </mat-form-field> 
                        </div>

                    </form>

                    <div class="error" *ngIf="errorMessage == true">
                        <span id="loginError">Credenciais incorretas.</span>
                    </div>

                    <div class="loginBottom">
                        <span>Nâo possui uma conta?</span>
                        <a href="cadastro">Cadastre-se</a>
                    </div>

                    <button (click)="logar()">Continuar</button>

                    <a href="forgotPassword" id="loginForgot">Esqueci minha senha</a>
                    <!--<div *ngIf="form.controls.login.invalid" style="color:white;" class="warning">
                        Login está errado, favor verificar suas credenciais.
                    </div>
                    <div *ngIf="(form.controls.login.dirty && form.controls.login.touched)" style="color:white;" class="warning">
                        Login está vazio, favor inserir credenciais.
                    </div>-->
                </div>
                        
            </div>

            <ngx-loading
                [show]="loading"
                [config]="{ backdropBorderRadius: '3px' }"
                [template]="customLoadingTemplate">
            </ngx-loading>
        </div>
    </body>
</html>
