<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <!-- HEADER -->
    <div class="row space-top-header">
        <div class="col" style="padding-left: 20px;">
            <button type="button" class="btn-retornar" (click)="cancel()"><i class="fa-solid fa-angle-left" 
                    style="color: #1468BD;"></i>&nbsp;&nbsp;&nbsp;&nbsp;Retornar</button>
        </div>
        <div class="col text-cpf">
            Novo Usuário
        </div>
        <div class="col"></div>
    </div>

    <!-- FORMULARIO DE CADASTRO -->
    <form class="example-form form-ocean" [formGroup]="form">
        <div class="row">
            <div class="col">
                <span class="label-ocean">Login</span>
                <mat-form-field class="example-full-width fill-textfield" appearance="outline">
                    <mat-label></mat-label>
                    <input matInput formControlName="login" placeholder="Ex. s.jorge3" />
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col">
                <span class="label-ocean">Senha</span>
                <mat-form-field class="example-full-width fill-textfield" appearance="outline">
                    <mat-label></mat-label>
                    <input type="password" matInput formControlName="senha" />
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="label-ocean">Matrícula</span>
                <mat-form-field class="example-full-width fill-textfield" appearance="outline">
                    <mat-label></mat-label>
                    <input matInput formControlName="matricula" placeholder="Ex. 000000000" />
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col">
                <span class="label-ocean">Perfil</span>
                <mat-form-field class="example-full-width fill-textfield" appearance="outline">
                    <mat-label></mat-label>
                    <mat-select formControlName="perfil">
                        <mat-option value="">Selecionar</mat-option>
                        <mat-option *ngFor = "let perfil of perfis" value="{{perfil.guidPerfil}}">{{perfil.nome}}</mat-option>
                    </mat-select>
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span class="label-ocean">Status</span>
                <mat-form-field class="example-full-width fill-textfield" appearance="outline">
                    <mat-label></mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="">Selecionar</mat-option>
                        <mat-option value="Ativo">Ativo</mat-option>
                        <mat-option value="Inativo">Inativo</mat-option>
                    </mat-select>
                    <mat-error>
                        Campo obrigatório
                    </mat-error>
                </mat-form-field>
            </div>
        </div>


    </form>

    <!-- FOOTER BOTOES CADASTRAR E CANCELAR -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end footer-ocean ">
        <button style="color: #1468BD; background-color: white; border-color: #1468BD;" (click)="cancel()"
            class="btn btn-secondary me-md-2" type="button">Cancelar</button>
        <button style="color: white; background-color: #1468BD; border-color: #1468BD;" class="btn btn-primary"
            (click)="salvar()" type="Cadastrar">Cadastrar</button>
    </div>
    <div style="padding-bottom: 1px;"></div>
</div>